<!-- <h2>REACTIVE FORMS CONTROL</h2> -->
<!-- <label for="name">Name: </label>
<input class="form-control" id="name" type="text" [formControl]="name">
<p>{{name.value}}</p>
<button class="btn" (click)="updateName()" >CLick</button> -->

<!-- <h2>REACTIVE FORMS GROUP</h2> -->
<!-- <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" >
     <label for="first-name">First Name:</label>
     <input  class="form-control" id="first-name" type="text" formControlName="firstName">
     <label for="last-name">Last Name: </label>
     <input class="form-control" id="last-name" type="text" formControlName="lastName">
    <button type="submit" [disabled]="!clientForm.valid">Submit</button>
</form> -->

<!-- FORMS NESTED GROUP AND DYNAMIC FORMS -->

<!-- <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" >
    <label for="first-name">First Name:</label>
    <input  class="form-control" id="first-name" type="text" formControlName="firstName">
    <label for="last-name">Last Name: </label>
    <input class="form-control" id="last-name" type="text" formControlName="lastName">
    <div formGroupName="address">
        <h2>Address</h2>
   
        <label for="street">Street:</label>
        <input  class="form-control" id="street" type="text" formControlName="street">

        <label for="city">City:</label>
        <input  class="form-control" id="city" type="text" formControlName="city">

        <label for="state">State:</label>
        <input  class="form-control" id="state" type="text" formControlName="state">

        <label for="zip">zip:</label>
        <input  class="form-control" id="zip" type="text" formControlName="zip">
    </div>
    <div formArrayName="phones">
       <h2>Phones</h2>
       <button type="button" (click)="addPhone()">+ Add another phone</button>
       <div *ngFor="let element of phones.controls; let i=index">
          <label for="phone-{{i}}">Phone: </label>
          <input id="phone-{{i}}" type="text" [formControlName]="i">
       </div>
    </div>

    <button type="button" (click)="updateForm()">Update Data</button>
    <button type="button" (click)="updateForm2()">Update Data 2</button>
    <button type="button" (click)="updateForm3()">Update Data 3</button>
   <button type="submit" [disabled]="!clientForm.valid">Submit</button>
</form>
FORM VALUE: {{clientForm.value | json}} <br/>
FORM STATUS: {{clientForm.status}} -->



<!--<h2>VALIDATING INPUT FORMS  REACTIVE FORMS</h2> -->
<!-- <h2>VALIDATING INPUT FORMS  REACTIVE FORMS</h2>
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" >
   <label for="first-name">First Name:</label>
   <input  class="form-control" id="first-name" type="text" formControlName="firstName">
   <label for="last-name">Last Name: </label>
   <input class="form-control" id="last-name" type="text" formControlName="lastName">
  <button type="submit" [disabled]="!clientForm.valid">Submit</button>
</form> -->





<!-- <h2>BUILT-IN VALIDATORS  REACTIVE FORMS</h2>
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" >
   <label for="first-name">First Name:</label>
   <input  class="form-control" id="first-name" type="text" formControlName="firstName">
   <label for="last-name">Last Name: </label>
   <input class="form-control" id="last-name" type="text" formControlName="lastName">
   <label for="email">Email: </label>
   <input class="form-control" id="email" type="text" formControlName="email">
  <button type="submit" [disabled]="!clientForm.valid">Submit</button>
</form> -->


<h2>SHOWING ERROR MESSAGES OF REACTIVE FORMS</h2>
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

   <div class="form-group">
      <label for="first-name">First Name:</label>
      <input class="form-control" id="first-name" type="text" formControlName="firstName">
      <div class="alert alert-danger"
         *ngIf="clientForm.get('firstName')?.invalid && (clientForm.get('firstName')?.dirty || clientForm.get('firstName')?.touched)">
         <ul>
            <li *ngIf="clientForm.get('firstName')?.errors?.required">Valor de Campo Requerido</li>
            <li *ngIf="clientForm.get('firstName')?.errors?.minlength">EL nombre no debe tener <strong>menos</strong> de
               4 caracteres</li>
            <li *ngIf="clientForm.get('firstName')?.errors?.forbiddenName">El nombre no debe ser <strong>Bob</strong>
            </li>

         </ul>
      </div>
   </div>
   <div class="form-group">
      <label for="last-name">Last Name: </label>
      <input class="form-control" id="last-name" type="text" formControlName="lastName">
   </div>

   <div class="form-group">
      <label for="email">Email: </label>
      <input class="form-control" id="email" type="text" formControlName="email">
      <div class="alert alert-danger"
         *ngIf="clientForm.get('email')?.invalid && (clientForm.get('email')?.dirty || clientForm.get('email')?.touched)">
         <ul>
            <li *ngIf="clientForm.get('email')?.errors?.required">Valor de Campo Requerido</li>
            <li *ngIf="clientForm.get('email')?.errors?.email">El campo debe tener un formato de <strong>email.</strong>
            </li>
         </ul>
      </div>
   </div>
   <button type="submit" [disabled]="!clientForm.valid">Submit</button>
</form>