/* You can add global styles to this file, and also import other style files */

/* 
.ng-valid[required], .ng-valid.required  {
    border: 3px solid #42A948; 
  }

  .form-control.ng-dirty.ng-valid.ng-touched {
    border: 3px solid #42A948; 
  }
  
  .ng-invalid:not(form):not(div)  {
    border: 3px solid #a94442; 
  } */